/* header */

.container-fluid {
    background-image: url("images/pngegg.jpg");
    /* padding: 50px 20px 20px 10px; */
    background-position: center;
    background-size: cover;
}
.col-md-12, .col-md-6, .col-md-2, .col-md-4 {
    padding: 10px 10px 20px;
}
.row-experience h1, .row-interests h1, .row-contact h1, .row-timeline h1 {
    text-align: center;
}
h2 {
    font-family: 'style script';
    font-size: 90px;
    margin: 0;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: 1.8em;
}
h2::first-letter {
    font-size: 2em;
}
h1 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}
.row {
    padding-bottom: 20px;
}
.timestamp h6 {
    text-align: center;
    color: #1c1c1cc6;
}
.rotate {
    transform: rotate(270deg);
    padding-bottom: 11px;
}
.header {
    display: grid;
    height: auto;
    justify-content: center;
    align-content: center;
    grid-template-columns: max-content max-content;
}

/* navbar */

.navbar {
    background-color: transparent;
    justify-content: center;
    color: #1C1C1C;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
}
.nav-item a {
    color: #1C1C1C;
}
.nav-link {
    color: #1C1C1C;
    text-align: center;
    font-size: 1em;
    margin: 4px 2px;
    opacity: 0.6;
    background: transparent;
    cursor: pointer;
  }
.nav-link:hover {
    color: #1C1C1C;
    opacity: 0.15;
    transition: 1s ease-in-out;
}

/* skills */

.progress {
    background-color: #eef0f2;
}
.progress-bar {
    background-color: #ecebe4;
}

/* hobid */

.interests {
    background-image: transparent;
    /* box-shadow: 0px 0px 90px 20px #fafaffcb; */
    border-radius: 10px 40px;
    display: flex;
    justify-content: space-evenly;
}
.hobbie {
    text-align: center;
}
.hobbie p {
    font-size: 0.8em;
    padding-top: 0.5em;
}
.hobbie img {
    width: 8vw;
    border-radius: 20px;
    background-color: #EEF0F2;
    border: 10px solid #EEF0F2;
}
.row {
    width: 100%;
}
.education {
    text-align: center;
}
.education p, .work p {
    font-size: 0.8em;
}
.work {
    text-align: center;
}

/* timeline */

.rightbox {
    height: 100%;
    display: flex;
  }
  
.rb-container {
    font-family: "montserrat", sans-serif;
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
  }
  
.rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
  }
  
.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 5em;
    min-height: 50px;
    border-left: 1px dashed #daddd8;
    padding: 0 0 20px 30px;
    position: relative;
  }
  
.rb-container ul.rb li:last-child {
    border-left: 0;
  }
  
.rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 12px solid #EEF0F2;
    border-radius: 5px;
    background: #EEF0F2;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
  }
  
.rb-container ul.rb li:hover::before {
    border-color: #1c1c1c57;
    transition: all 1000ms ease-in-out;
  }
  
ul.rb li .timestamp {
    color: #1c1c1c;
    position: relative;
    width: 100px;
    font-size: 1.5em;
  }
  
.item-title {
    color: #1c1c1c85;
    font-size: 0.8em;
  }

/* contact */

.card {
    max-width: 250px;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}

.card .card-header {
    position: relative;
    height: 48px;
    background-color: transparent;
    border: none;
}
.card .card-header .profile-img {
    width: 130px;
    height: 130px;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #c74385;
    box-shadow: 0 0 20px #00000033;
}

.card .card-body {
    padding: 10px 40px;
}

.card .card-body .name {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #c74385;
}

.card .card-body .mail {
    font-size: 14px;
    color: #c2bdbd;
}

.card .card-body .job {
    margin-top: 10px;
    font-size: 14px;
}

.card .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card .social-links .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #c74385;
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
    text-decoration: none;
    margin: 0 13px 30px 0;
}

.card .social-links .social-icon:last-child {
    margin-right: 0;
}

.card .card-footer {
    background-color: #c74385;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px 0 20px 0;
}

.card .card-footer .count {
    font-size: 14px;
}

/* responsive */

@media all and (max-width: 992px) {
    .navbar {
      justify-content: space-around;
    }
    h2 {
        font-family: 'style script';
        font-size: 50px;
        margin: 0;
        writing-mode: vertical-lr;
        text-align: center;
        line-height: 1.8em;
    }      
    .interests {
        justify-content: center;
    }
  }
  
  @media all and (max-width: 600px) {
    .navbar {
     /* flex-flow: column wrap; */
      padding: 0;
    }
    .navbar a { 
      text-align: center; 
      padding: 10px;
    }
    .navbar li:last-of-type a {
      border-bottom: none;
    }
    h2 {
        font-family: 'style script';
        font-size: 50px;
        margin: 0;
        writing-mode: vertical-lr;
        text-align: center;
        line-height: .1.8em;
    }
    .interests {
        display: block;
    }
    .hobbie p {
        font-size: 0.5em;
        padding-top: 0.5em;
    }
    .hobbie img{
        width: 100px;
        height: auto;
    }
    .card {
        width: 96%;
    }

    .card .card-body {
        padding: 10px 20px;
    }
}
  
