body {
    animation: fadeInAnimation linear 4s;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
     }
}

/* header */
.header-image{
    background: url(images/krissu3.png);
    opacity: 0.35;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.animate__animated.animate__fadeInDown {
    animation-delay: 300ms;
 }
.container-fluid {
    background-image: url("images/pngegg.jpg");
    /* padding: 50px 20px 20px 10px; */
    background-position: center;
    background-size: cover;
}
.col-md-12, .col-md-6, .col-md-2, .col-md-4 {
    padding: 10px 10px 20px;
}
.row-experience h1, .row-interests h1, .row-contact h1, .row-timeline h1 {
    text-align: center;
}

h1, h4 {
    font-size: 1.2em;
    color: #1c1c1cbb;
}
h5 { 
    font-size: 1em;
    color: #1c1c1cd2;display:inline-block; margin:0;text-transform:uppercase; 
}
h5:after {
    display:block;
    content: '';
    border-bottom: solid 0.7px #604848;  
    transform: scaleX(0);  
    transition: transform 450ms ease-in-out;
}
h5:hover:after { 
    transform: scaleX(1); 
}
h5.fromRight:after{
    transform-origin:100% 50%; 
}
h5.fromLeft:after{
    transform-origin:  0% 50%; 
}

.row {
    padding-bottom: 20px;
    width: 100%;
}
.rotate {
    transform: rotate(270deg);
    padding-bottom: 11px;
}

/* navbar */

.navbar {
    background-color: transparent;
    justify-content: center;
    color: #1C1C1C;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
}
.nav-item a {
    color: #1C1C1C;
}
.nav-link {
    color: #1C1C1C;
    text-align: center;
    font-size: 1em;
    margin: 4px 2px;
    opacity: 0.6;
    background: transparent;
    cursor: pointer;
  }
.nav-link:hover {
    color: #1C1C1C;
    opacity: 0.15;
    transition: 1s ease-in-out;
}

/* experience */

.rightbox {
    height: 100%;
    display: flex;
  }
  
.rb-container {
    font-family: "montserrat", sans-serif;
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
  }
  
.rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
  }
  
.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 5em;
    min-height: 50px;
    border-left: 1px dotted #daddd8;
    padding: 0 0 20px 30px;
    position: relative;
  }
  
.rb-container ul.rb li:last-child {
    border-left: 0;
  }
  
.rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    content: " ";
    border: 12px solid #EEF0F2;
    border-radius: 5px;
    background: #EEF0F2;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
  }
  
.rb-container ul.rb li:hover::before {
    border-color: #1c1c1c57;
    transition: all 1000ms ease-in-out;
  }
  
ul.rb li .timestamp {
    color: #1c1c1c;
    position: relative;
    width: 100px;
    font-size: 1.5em;
  }

.item-title {
    color: #1c1c1c85;
    font-size: 0.8em;
  }
.education p, .work p {
    font-size: 0.8em;
}

h6 {
    overflow: hidden;
    text-align: left;
    width: 150%;
    color: #1c1c1cca;
    font-size: 1em;
  }
  h6:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    background: linear-gradient(9deg, #daddd8, #fafaff);
    left: 0.5em;
    margin-right: -15%;
  }

.row-experience, .row-timeline, .row-interests, .row-contact, .row-aboutme {
    position: relative;
    opacity: 0;
    transition: 1s all ease;
  }
.row-experience.active, .row-timeline.active, .row-interests.active, .row-contact.active, .row-aboutme.active{
    opacity: 1;
  }
.progress-bar {
    background-color: #daddd8;
    animation: animate-positive 3s;
}

.progress {
    box-shadow: 0px 4px 7px 0px #1c1c1c1c;
    background-color: #eef0f2;
}
@keyframes animate-positive {
    0% { width: 0;}
}

/* hobid */

.interests {
    background-image: transparent;
    /* box-shadow: 0px 0px 90px 20px #fafaffcb; */
    border-radius: 10px 40px;
    display: flex;
    justify-content: space-evenly;
}
.hobbie {
    text-align: center;
}
.hobbie p {
    font-size: 0.8em;
    padding-top: 0.5em;
}
.hobbie img {
    width: 8vw;
    border-radius: 20px;
    background-color: #EEF0F2;
    border: 10px solid #EEF0F2;
    box-shadow: 0px 4px 7px  0px #d9d9d9;
}

/* contact */

.card {
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}
.card .card-header {
    position: relative;
    height: 48px;
    background-color: transparent;
    border: none;
}
.card .card-body .profile-img {
    width: auto;
    height: 200px;
    border-radius: 50%;
    left: 50%;
    box-shadow: 0px 4px 10px 0px #d9d9d9;}
.card .card-body {
    padding: 10px 40px;
}
.card .card-body .name {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #1c1c1c;
}
.card .card-body .mail {
    font-size: 14px;
    color: #c2bdbd;
}
.card .card-body .job {
    margin-top: 10px;
    font-size: 14px;
}
.bi-geo-alt-fill {
    color: #1c1c1cb7;
}
.card .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .social-links .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #eef0f2;
    color: #1c1c1c70;
    font-size: 20px;
    border-radius: 100%;
    text-decoration: none;
    margin: 0 13px 30px 0;
    box-shadow: 0px 4px 7px  0px #d9d9d9}
.card .social-links .social-icon:hover {
    color: #c9ce9e;
}
.card .social-links .social-icon:last-child {
    margin-right: 0;
}

iframe {
    box-shadow: 0px 4px 7px  0px #d9d9d9}
/* responsive */

@media all and (max-width: 992px) {
    .navbar {
      justify-content: space-around;
    }
    h2 {
        font-family: 'style script';
        font-size: 50px;
        margin: 0;
        writing-mode: vertical-lr;
        text-align: center;
        line-height: 1.8em;
    }      
    .interests {
        justify-content: center;
    }
  }
  
  @media all and (max-width: 600px) {
    .navbar {
     /* flex-flow: column wrap; */
      padding: 0;
    }
    .navbar a { 
      text-align: center; 
      padding: 10px;
    }
    .navbar li:last-of-type a {
      border-bottom: none;
    }
    h2 {
        font-family: 'style script';
        font-size: 50px;
        margin: 0;
        writing-mode: vertical-lr;
        text-align: center;
        line-height: .1.8em;
    }
    .interests {
        display: block;
    }
    .hobbie p {
        font-size: 0.5em;
        padding-top: 0.5em;
    }
    .hobbie img{
        width: 100px;
        height: auto;
    }
    .row-contact iframe {
        display: none;
    }
}
  
